:root {
    /* colors */
    --black: #181818;
    --white: #ffffff;
    --grey: #2e3d49;
    --blue: #02b3e4;
    --deep_blue: #007697;
    --red: #631010;

    /* deck and card sizes */
    --vw: 100vw;
    --deck_size: calc(var(--vw) * 0.78);
    --card_size: calc(var(--vw) * 0.14);
    --symb_size: calc(var(--vw) * 0.10);
    --font_size: calc(var(--vw) * 0.04);
    --card_size-05: calc(var(--vw) * (-0.07));
    --move_card: calc(var(--vw) * 0.40);
}

html {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: var(--white);
}

body {
    background: var(--white) ; /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
    background: var(--blue);
}

.container,
header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
}

/*
 * Styles for the deck of cards
 */

.deck {
    /* geometry */
    position: relative;
    width: var(--deck_size);
    /* padding-top gives height to the deck */
    padding-top: var(--deck_size);

    /* styling */
    background: var(--black);
    background: radial-gradient(circle at 200px 200px, var(--grey), var(--black));
    border: solid 5px var(--grey);
    border-radius: 50%;
    margin: calc(var(--card_size) / 2) auto auto auto;

    /* inside elements aligment */
    display: grid;
}

.deck .card {
    /* geometry - to position cards in center of the deck */
    display: block;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    height: var(--card_size);
    width: var(--card_size);
    margin: var(--card_size-05);

    /* styling - to style and position interior of the cards */
    background: var(--grey);
    font-size: 0em;
    color: var(--white);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items:center;
    /*  transitions */
    /* transition: background-color 1s ease-out; */
    transition: ease 1s;
}

/* position cards around the on the circle */
.n1 { transform: translate(var(--move_card)); }
.n2 { transform: rotate(-22.5deg) translate(var(--move_card)) rotate(22.5deg); }
.n3 { transform: rotate(-45deg) translate(var(--move_card)) rotate(45deg); }
.n4 { transform: rotate(-67.5deg) translate(var(--move_card)) rotate(67.5deg); }
.n5 { transform: rotate(-90deg) translate(var(--move_card)) rotate(90deg); }
.n6 { transform: rotate(-112.5deg) translate(var(--move_card)) rotate(112.5deg); }
.n7 { transform: rotate(-135deg) translate(var(--move_card)) rotate(135deg); }
.n8 { transform: rotate(-157.5deg) translate(var(--move_card)) rotate(157.5deg); }
.n9 { transform: rotate(-180deg) translate(var(--move_card)) rotate(180deg); }
.n10 { transform: rotate(22.5deg) translate(var(--move_card)) rotate(-22.5deg); }
.n11 { transform: rotate(45deg) translate(var(--move_card)) rotate(-45deg); }
.n12 { transform: rotate(67.5deg) translate(var(--move_card)) rotate(-67.5deg); }
.n13 { transform: rotate(90deg) translate(var(--move_card)) rotate(-90deg); }
.n14 { transform: rotate(112.5deg) translate(var(--move_card)) rotate(-112.5deg); }
.n15 { transform: rotate(135deg) translate(var(--move_card)) rotate(-135deg); }
.n16 { transform: rotate(157.5deg) translate(var(--move_card)) rotate(-157.5deg); }


.deck .card:hover {
    background: var(--deep_blue);
}

.deck .card.open {
    /* transform: rotate(0deg); */
    /* transition: ease 1s; */
    background: var(--blue);
    cursor: default;
    font-size: var(--symb_size);
}

.deck .card.show {
    /* transition: ease 1s; */
    font-size: var(--symb_size);
}

.deck .card.match {
    /* transition: ease 1s; */
    cursor: default;
    color: var(--white);
    font-size: 0;
    border: dashed 2px var(--deep_blue);
}

.deck .card.nomatch {
    /* transition: shake 1s; */
    transition: ease 1s;
    background: var(--red);
    cursor: default;
    font-size: var(--symb_size);
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    position: absolute;
    color: var(--white);
    font-size: var(--font_size);
    text-align: center;
    width: calc(var(--deck_size) / 2);
    margin: 10px 10px auto auto;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

/* .score-panel */
.stars div {
    /* position: absolute; */
    /* top: 50%; */
    /* left: 50%; */
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    /* float: right; */
    cursor: pointer;
    font-size: calc(var(--symb_size) * 0.8);

}

/*
 * Styles for the Win Panel
 */

.win {
    width: 100%;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    color: var(--white);
}

/* ------------------------ media query ----------------------------- */

/* On screens 0-300px */
@media screen and (max-width: 300px) {
    :root {
        --vw: 300px;
    }
}

/* On screens 300-400px */
@media screen and (max-width: 400px) {
    :root {
        --font_size: calc(var(--vw) * 0.04);
    }
}

/* On screens above 600px */
@media screen and (min-width: 600px) {
    :root {
        --vw: 600px;
    }
}

